.product-card {
  width: 100%;
  max-width: 240px;
  padding: 13px;
  border: 1px solid #E2E2E2;
  border-radius: 18px;
}

.product-name {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #181725;
}

.product-type {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #7C7C7C;
}

.product-old-price {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  text-decoration-line: line-through;
  color: #808080;
}

.product-new-price {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #53B175;
}

.tafsilot {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #BDBDBD;
  border: none;
  background-color: transparent;

}
.heart-btn{
  border: none;
  width: 25px ;
  height: 25px;
  background-color: transparent;
}