/* .plus-btn {
  border: none;
  outline: none;
  background-color: transparent;
}

.new-price {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #53B175;
} */

.overlayyy {
  position: fixed;
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.modal-wrapper {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
  background: #FAFBFC;
  border-radius: 30px 30px 0px 0px;
  background-image: url('../../assets//images/image.svg');
  background-repeat: no-repeat;
  background-size: 440px 295px;
  background-position: calc(50% + 400px) bottom;
}

.savat-add {
  display: block;
  width: 100%;
  max-width: 180px !important;
  margin-top: 130px;
  padding: 10px 0;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin-left: auto;
  color: #FFF9FF;
  background: #53B175;
  border-radius: 100px;
  border: none;
}

.exit-bttn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  padding: 2px 10px;
  border: none;
  border-radius: 50%;
  background: #F0F0F0;
}